:root {
    --font-family: 'Open Sans', sans-serif;
    --open-sans-light: 300;
    --open-sans-regular: 400;
    --open-sans-semi-bold: 600;
    --open-sans-bold: 700;
}

.edit {
    opacity: 0.7;
}

.edit:hover {
    opacity: 0.5;
}

.playlist {
    display: flex;
    flex-direction: column;
    color: white;
}

.playlist-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.playlist-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    overflow-y: scroll;
    max-height: 60vh;
}

.track {
    margin-bottom: 1rem;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.playlist-list::-webkit-scrollbar {
    display: none;
}

.playlist-list::-moz-scrollbar {
    display: none;
}

.playlist-list::-ms-scrollbar {
    display: none;
}
  
.song-title {
    font-weight: var(--open-sans-semi-bold);
}

.track-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.track-description {
    display: flex;
    flex-direction: row;
    justify-content: start;
    opacity: 0.7;
    margin-top: -1.5rem;
}

.add {
    margin-top: 10;
}

.add:hover {
    opacity: 0.7;
}

.song-body {
    display: flex;
    justify-content: center;
}

.song-row {
    border-bottom: 1px solid black;
}

@media(max-width: 1000) {
    .playlist {
        margin: 0 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .playlist-list{
        max-height: 40vh;
    }
}