:root {
    --green: #1db954;
    --light-grey-1: #b3b3b3;
    --light-grey-2: #535353;
    --dark-grey: #282828;
    --font-family: 'Open Sans', sans-serif;
    --open-sans-light: 300;
    --open-sans-regular: 400;
    --open-sans-semi-bold: 600;
    --open-sans-bold: 700;
}

.login-row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-login {
    position: absolute;
    top: 50%;
    left:  50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.login {
    white-space: nowrap;
    text-align: center;
    color: white;
    background-color: transparent;
    padding: 1rem 1.5rem;
    font-size: 1.2rem;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    border: solid 1px;
    border-color: var(--green);
    font-family: var(--font-family);
    font-weight: var(--open-sans-semi-bold);
}

.login:hover {
    background-color: var(--green);
}

.title {
    text-align: center;
    color: white;
    font-weight: var(--open-sans-bold);
    font-size: 3.5rem;
}

.subtitle {
    text-align: center;
    color: white;
    font-size: 2rem;
    margin-top: -3rem;
}

.top-bar {
    color: white;
    font-size: 1rem;
}

.tops {
    display: flex;
    flex-direction: column;
}