.App {
    display: flex;
    flex-direction: row;
}
  
.invite {
    margin-top: 2rem;
    color: white;
    background-color: var(--green);
    height: 2rem;
    font-size: 1rem;
    width: 6rem;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    border: none;
    font-family: var(--font-family);
    font-weight: var(--open-sans-semi-bold);
}

.invite:hover {
    opacity: 0.7;
}

.list {
    /* margin-left: 28rem; */
    display: flex;
    flex: 1 1 0;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
}

.chatbox-position {
    position: absolute;
    bottom: 0;
    right: 10%;
}