:root {
    --green: #1db954;
    --light-grey-1: #b3b3b3;
    --light-grey-2: #535353;
    --dark-grey: #282828;
    --opacity-grey: rgba(255, 255, 255, 0.3);
    --open-sans-light: 300;
    --open-sans-regular: 400;
    --open-sans-semi-bold: 600;
    --open-sans-bold: 700;
}

.player {
    width: 100%;
    box-sizing: border-box;
    background-color: var(--dark-grey);
    position: absolute;
    bottom: 0;
    color: white;
    padding: 0 2%;
    padding-bottom: 1%;
    font-weight: var(--open-sans-semi-bold);
    font-size: 1.2rem;
    z-index: 1;
}

.upper {
    display: flex;
    flex-direction: row;
}

.lower {
    display: flex;
    flex-direction: row;
    padding: 0 1.5%;
    opacity: 0.5;
    align-items: center;
}

.volume-up {
    margin-right: 24px;
}

.volume-up:hover {
    color: var(--light-grey-1);
}

.volume-mute:hover {
    color: var(--light-grey-1);
}

.progress-bar {
    position: relative;
    height: 0.4rem;
    width: 40rem;
    border-radius: 50px;
    border: none;
    margin: 0 1rem;
}

.filler {
    background: var(--light-grey-1);
    height: 100%;
    border-radius: inherit;
    transition: width .2s ease-in;
}

.time {
    display: flex;
    flex-direction: row;
    margin-left: 3rem;
    align-items: center;
    justify-content: center;
}

@media(max-width: 1000px) {
    .upper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 1rem;
    }

    .mobile-upper {
        
    }

    .player {
        min-height: 120px;
    }
}
