@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

:root {
  --green: #1db954;
  --light-grey-1: #b3b3b3;
  --light-grey-2: #535353;
  --dark-grey: #282828;
  --font-family: 'Open Sans', sans-serif;
  --open-sans-light: 300;
  --open-sans-regular: 400;
  --open-sans-semi-bold: 600;
  --open-sans-bold: 700;
}

body {
  height: 100%;
  background-color: black;
  font-family: var(--font-family);
  font-weight: var(--open-sans-regular);
}
